.portfolio {
    background-color: rgb(22, 22, 22);
    padding: 5% 10rem;
    color: white;
    min-height: 100vh;
}

.portfolio h1 {
    padding-top: 6rem;
    padding-bottom: 1.5rem;
    font-size: 4rem;
}

hr {
    opacity: .35;
    margin-bottom: 1rem;
}

.cards {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.info{
    margin-top: 2rem;
    font-size: 1.2rem;
    opacity: 0.9;
}

.error{
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #ffb4b4;
}

.card {
    background-image: url(../../assets/photo-1514790193030-c89d266d5a9d.jfif);
    width: 30%;
    height: 30rem;
    padding: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items:end;
}

.card a {
    text-decoration: none;
    color: black;
}

.card button {
    padding: 1rem 2rem;
}

.card:hover {
    box-shadow: 0px 0px 25px white;
    transform: scale(1.05);
}
