.heroSect {
    padding-top: 5%;
    min-height: 100vh;
    display: flex;
}

.hero {
    color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
}

.hero h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.hero .buttons {
    display: flex;
    gap: 2rem;
}

.hero button { cursor: pointer; }

.hero p {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.img {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
}

.lottieWrap{
    width: 100%;
    max-width: 520px;
    aspect-ratio: 1/1;
}