.nav {
    color: white;
    width: 100%;
    padding: 22px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 22, 22);
    /* box-shadow: 10px 0 5px rgb(70, 70, 70); */
    align-items: center;
    position: fixed;
}


.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.link {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}